a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.link {
  position: relative;
  color:$color-accent;
  transition: color .1s linear;

  &:hover {
    @media(pointer: fine) {
      color: $color-light;
    }
  }

  &-click {
    display: contents;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
    }
  }
}