.artist-widget {
  position: relative;
  white-space: nowrap;
  vertical-align:bottom;
  transition: color .1s linear;

  &:not(:last-child) {
    margin-right: 1.6em;

    &:after{
      content: '•';
      position: absolute;
      left:100%;
      margin-left: .5em;
      pointer-events: none;
      color: $color-semi-light-blue;
    }
  }

  &:hover {
    color:$color-light;
  }
}