.small-genre-widget {
  display: inline-block;
  white-space: nowrap;
  vertical-align:bottom;
  transition: color .1s linear;

  &:not(:last-child) {
    &:after{
      content: ',';
      display: inline-block;
      padding-right: .3em;
      pointer-events: none;
      color: $color-semi-light-blue;
    }
  }

  &:hover {
    color:$color-light;
  }
}