$color-accent: #a8a9ac;
$color-black-blue: #13131a;
$color-dark-blue: #191a22;
$color-semi-dark-blue: #272830;
$color-semi-light-blue: #a8a9ac;
$color-light-blue: #424456;
$color-light: #e0e0e0;
$color-favorite: #e1343b;
$color-player: #28282f;
$color-border-player: #393b4e;